<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Advatech Office Supplies ltd... Virtual-Esd</title>
    <link rel="stylesheet" href="titlebar.css"> <!-- Link to custom CSS -->
    <link rel ="style" href="../../assets/font/Nunito-Light.ttf">
    <link rel ="style" href="../../assets/font/Nunito-BlackItalic.ttf">

    <style>



    </style>
  </head>
  <body>

    <div id="root"></div>
    <script>
import { remote } from '@electron/remote'; // Use '@electron/remote' for newer versions

const minimizeButton = document.getElementById('minimize-btn');
const maximizeButton = document.getElementById('maximize-btn');
const closeButton = document.getElementById('close-btn');

minimizeButton.addEventListener('click', () => {
  remote.getCurrentWindow().minimize();
});

maximizeButton.addEventListener('click', () => {
  const window = remote.getCurrentWindow();
  if (window.isMaximized()) {
    window.unmaximize();
  } else {
    window.maximize();
  }
});

closeButton.addEventListener('click', () => {
  remote.getCurrentWindow().close();
});


    </script>
  </body>
</html>
